.*.swp
.*.swo
AAVMF_CODE.fd
AAVMF32_CODE.fd
core-image-*.iso
debian-*.img
debian-*-netinst.iso
Fedora-*.iso
Fedora-*.qcow2
fedora-*.img
latest-nixos-*.iso
linaro-sid-gnome-qrb5165-rb5/Image
linaro-sid-gnome-qrb5165-rb5.img
linaro-sid-gnome-qrb5165-rb5-*
nixos-*.iso
nixos-*.img
qemu_efi.img
Rocky-*.img
Rocky-*.iso
tpm2/
ubuntu-*.img
ubuntu-*.iso
varstore.img
