.*.swp
.*.swo
AAVMF_CODE.fd
AAVMF32_CODE.fd
alpine-*.img
alpine-*.iso
core-image-*.iso
debian-*.img
debian-*-netinst.iso
Fedora-*.iso
Fedora-*.qcow2
fedora-*.img
latest-nixos-*.iso
linaro-sid-gnome-qrb5165-rb5/Image
linaro-sid-gnome-qrb5165-rb5.img
linaro-sid-gnome-qrb5165-rb5-*
nixos-*.iso
nixos-*.img
qemu_efi.img
Rocky-*.img
Rocky-*.iso
tpm2/
ubuntu-*.img
ubuntu-*.iso
varstore.img
arm-systemready-ir-acs/arm-systemready-ir-acs.img
arm-systemready-ir-acs/ir-acs-live-image-generic-arm64.wic
arm-systemready-ir-acs/mini.iso
